<% provide(:title, "About") %>
<h1>About</h1>
<p>
  Mission Statement: To give to those who need it most, and to stand for those who cannot stand for themselves
</p>
<p>
  Who is involved: Wesley Cassel, Rachel Wyatt, Samantha Strutz Siegal, and Joseph Beasley
</p>
<p>
  Where are we located: South Carolina
</p>