<div class="left">
  <h1>Information About the Charity</h1>
  <h2>
    All donations and food purchases will go towards the Fake Charity Organization, which specializes in helping those in need around the world.
  </h2>
  <h1>
  Information About the 5k Run
</h1>
<h2>
The 5k will take place Tuesday, April 23rd. It will last from 11am to 5pm. Lunch will be provided at 1pm, and water will be proved to runners at specified checkpoints.
</h2>
</div>

<%= image_tag('running.jpg', draggable: "true", id: "runners", width: "600") %>
